<mat-card class="example-card">
  <h2 class="mat-elevation-z1">Welcome to My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hello, my Name is</h3>
      <h1>Juvelyn <span>Jusayan</span></h1>
      <h4>Bachelor of Sciece in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/juvmain.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>To tell you honestly I am 25 years old, currently residing in Balud Capoocan, Leyte. I was born in Carigara, Leyte. We are three siblings. My father 
      was residing here in Balud Capoocan, Leyte before he got married while my mother was residing in San Juan, Batangas 
      before they met and got married. They came from different denomination back then. After they got married, 
      my mother got converted in denomination of my father and that's our denomination now. I give advices to those 
      who needs.</p>
  </mat-card-content>
</mat-card>